<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>sectionTitle</key>
		<string>常见食材</string>
		<key>rowData</key>
		<array>
			<dict>
				<key>title</key>
				<string>000</string>
			</dict>
			<dict>
				<key>title</key>
				<string>小白菜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>上海青</string>
			</dict>
			<dict>
				<key>title</key>
				<string>生菜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>西蓝花</string>
			</dict>
			<dict>
				<key>title</key>
				<string>胡萝卜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>莲藕</string>
			</dict>
			<dict>
				<key>title</key>
				<string>芦笋</string>
			</dict>
			<dict>
				<key>title</key>
				<string>山药</string>
			</dict>
			<dict>
				<key>title</key>
				<string>土豆</string>
			</dict>
			<dict>
				<key>title</key>
				<string>洋葱</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玉米</string>
			</dict>
			<dict>
				<key>title</key>
				<string>蒜头</string>
			</dict>
			<dict>
				<key>title</key>
				<string>生姜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>黄瓜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>青椒</string>
			</dict>
			<dict>
				<key>title</key>
				<string>彩椒</string>
			</dict>
			<dict>
				<key>title</key>
				<string>茄子</string>
			</dict>
			<dict>
				<key>title</key>
				<string>丝瓜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>西红柿</string>
			</dict>
			<dict>
				<key>title</key>
				<string>豆腐</string>
			</dict>
			<dict>
				<key>title</key>
				<string>香菇</string>
			</dict>
			<dict>
				<key>title</key>
				<string>平菇</string>
			</dict>
			<dict>
				<key>title</key>
				<string>金针菇</string>
			</dict>
			<dict>
				<key>title</key>
				<string>杏鲍菇</string>
			</dict>
			<dict>
				<key>title</key>
				<string>猪肉</string>
			</dict>
			<dict>
				<key>title</key>
				<string>牛肉</string>
			</dict>
			<dict>
				<key>title</key>
				<string>鸭肉</string>
			</dict>
			<dict>
				<key>title</key>
				<string>鸡蛋</string>
			</dict>
			<dict>
				<key>title</key>
				<string>草鱼</string>
			</dict>
			<dict>
				<key>title</key>
				<string>花生</string>
			</dict>
			<dict>
				<key>title</key>
				<string>粉丝</string>
			</dict>
			<dict>
				<key>title</key>
				<string>面粉</string>
			</dict>
			<dict>
				<key>title</key>
				<string>大米</string>
			</dict>
			<dict>
				<key>title</key>
				<string>牛奶</string>
			</dict>
			<dict>
				<key>title</key>
				<string>面条</string>
			</dict>
			<dict>
				<key>title</key>
				<string>鲫鱼</string>
			</dict>
			<dict>
				<key>title</key>
				<string>鸡肉</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>当季食材</string>
		<key>rowData</key>
		<array>
			<dict>
				<key>title</key>
				<string>111</string>
			</dict>
			<dict>
				<key>title</key>
				<string>菜心</string>
			</dict>
			<dict>
				<key>title</key>
				<string>小白菜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>上海青</string>
			</dict>
			<dict>
				<key>title</key>
				<string>生菜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>西蓝花</string>
			</dict>
			<dict>
				<key>title</key>
				<string>胡萝卜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>莲藕</string>
			</dict>
			<dict>
				<key>title</key>
				<string>芦笋</string>
			</dict>
			<dict>
				<key>title</key>
				<string>山药</string>
			</dict>
			<dict>
				<key>title</key>
				<string>土豆</string>
			</dict>
			<dict>
				<key>title</key>
				<string>洋葱</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玉米</string>
			</dict>
			<dict>
				<key>title</key>
				<string>蒜头</string>
			</dict>
			<dict>
				<key>title</key>
				<string>生姜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>黄瓜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>青椒</string>
			</dict>
			<dict>
				<key>title</key>
				<string>彩椒</string>
			</dict>
			<dict>
				<key>title</key>
				<string>茄子</string>
			</dict>
			<dict>
				<key>title</key>
				<string>丝瓜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>西红柿</string>
			</dict>
			<dict>
				<key>title</key>
				<string>豆腐</string>
			</dict>
			<dict>
				<key>title</key>
				<string>香菇</string>
			</dict>
			<dict>
				<key>title</key>
				<string>平菇</string>
			</dict>
			<dict>
				<key>title</key>
				<string>金针菇</string>
			</dict>
			<dict>
				<key>title</key>
				<string>杏鲍菇</string>
			</dict>
			<dict>
				<key>title</key>
				<string>猪肉</string>
			</dict>
			<dict>
				<key>title</key>
				<string>牛肉</string>
			</dict>
			<dict>
				<key>title</key>
				<string>鸭肉</string>
			</dict>
			<dict>
				<key>title</key>
				<string>鸡蛋</string>
			</dict>
			<dict>
				<key>title</key>
				<string>草鱼</string>
			</dict>
			<dict>
				<key>title</key>
				<string>花生</string>
			</dict>
			<dict>
				<key>title</key>
				<string>粉丝</string>
			</dict>
			<dict>
				<key>title</key>
				<string>面粉</string>
			</dict>
			<dict>
				<key>title</key>
				<string>大米</string>
			</dict>
			<dict>
				<key>title</key>
				<string>牛奶</string>
			</dict>
			<dict>
				<key>title</key>
				<string>面条</string>
			</dict>
			<dict>
				<key>title</key>
				<string>鲫鱼</string>
			</dict>
			<dict>
				<key>title</key>
				<string>鸡肉</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionTitle</key>
		<string>蔬菜-茎叶类</string>
		<key>rowData</key>
		<array>
			<dict>
				<key>title</key>
				<string>222</string>
			</dict>
			<dict>
				<key>title</key>
				<string>菜心</string>
			</dict>
			<dict>
				<key>title</key>
				<string>小白菜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>上海青</string>
			</dict>
			<dict>
				<key>title</key>
				<string>生菜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>西蓝花</string>
			</dict>
			<dict>
				<key>title</key>
				<string>胡萝卜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>莲藕</string>
			</dict>
			<dict>
				<key>title</key>
				<string>芦笋</string>
			</dict>
			<dict>
				<key>title</key>
				<string>山药</string>
			</dict>
			<dict>
				<key>title</key>
				<string>土豆</string>
			</dict>
			<dict>
				<key>title</key>
				<string>洋葱</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玉米</string>
			</dict>
			<dict>
				<key>title</key>
				<string>蒜头</string>
			</dict>
			<dict>
				<key>title</key>
				<string>生姜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>黄瓜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>青椒</string>
			</dict>
			<dict>
				<key>title</key>
				<string>彩椒</string>
			</dict>
			<dict>
				<key>title</key>
				<string>茄子</string>
			</dict>
			<dict>
				<key>title</key>
				<string>丝瓜</string>
			</dict>
			<dict>
				<key>title</key>
				<string>西红柿</string>
			</dict>
			<dict>
				<key>title</key>
				<string>豆腐</string>
			</dict>
			<dict>
				<key>title</key>
				<string>香菇</string>
			</dict>
			<dict>
				<key>title</key>
				<string>平菇</string>
			</dict>
			<dict>
				<key>title</key>
				<string>金针菇</string>
			</dict>
			<dict>
				<key>title</key>
				<string>大米</string>
			</dict>
			<dict>
				<key>title</key>
				<string>鸡肉</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
